<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<p>
  <strong>Event date:</strong>
  <%= @post.event_date %>
</p>

<p>
  <strong>Image</strong>
  <%= image_tag @post.image_url(:medium).to_s if @post.image_url present? %>
</p>

<p>
  <strong>Disqus</strong>
  <%= raw disqus_thread %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
